kiosk.mycaplin.net {
	# Serve static files
	handle_path /static/* {
		file_server {
			root ../web/static
		}
	}

	handle_path /assets/* {
		file_server {
			root ../web/assets
		}
	}

	handle_path /public/* {
		file_server {
			root ../public
		}
	}

	# Reverse proxy to FastAPI app
	reverse_proxy localhost:8000

	# TLS configuration
	tls ./cert-and-key/certificate.crt ./cert-and-key/privatekey.pem
}
